apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-deployment
  labels:
    app: django
spec:
  replicas: 3
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
      - name: my-django-app
        image: IMAGE_PLACEHOLDER  # GitHub Actions replaces this
        ports:
        - containerPort: 8000
